
Student_DevOps_Example/
MVC_Web_App/.vs/MVC_Web_App/config/applicationhost.config
NewsletterAppMVC/.vs/NewsletterAppMVC/config/applicationhost.config
Bulky/.vs/Bulky/FileContentIndex/ccb380e1-2810-4007-a04f-2d18e2c21881.vsidx
